/* Lato font  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: lato sans-serif;
}

body {
  background: rgb(255, 255, 255);
}
.contain {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.wrapper {
  position: relative;
}
.search {
  font-size: 1.5rem;
  position: relative;
  height: 7vh;
  width: 30vw;
  background-color: #ffffff;
  border-radius: 25px;
  border: rgba(0, 0, 0, 0.1) 2px solid;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
  padding-left: 2.5vw;
}
.search:placeholder-shown {
  font-size: 1.1rem;
}
.search:focus {
  outline: none !important;
}

.wrapper .icon {
  position: absolute;
  right: 20px;
  top: 12px;
  border-radius: 3px;
}
.wrapper .result {
  position: absolute;
  top: 0px;
  padding-top: 12%;
  z-index: -1;
  height: auto;
  width: 30vw;
  background-color: transparent;
  border-radius: 25px;
  border: rgba(0, 0, 0, 0.1) 2px solid;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
}
/* here i decorate html tag which store inside the index.js */
.hidden {
  display: none;
}
.list {
  margin: 10px;
  list-style: none;
  padding: 8px 5px;
  border-radius: 10px;
}

.list-link {
  text-decoration: none;
  color: black;
}
.list-link:hover {
  text-decoration: none;
  color: black;
}
.list:hover {
  background-color: #ebe8e8;
}
.list-logo {
  width: 50px;
  margin-right: 20px;
  padding: 0px 10px;
  border-radius: 20px;
}
